h1{
    color: aqua;
    border-style: dashed;
    border-radius: 8px;
}


/* overflow */
/* 
    div{
    border: 3px solid;
    border-radius: 8px;
    height: 75px;
    overflow: visible;
    overflow: hidden;
    overflow: clip;
    overflow-clip-margin: 13px;
    overflow: scroll;
    overflow: auto;
} 
*/


/* INTRODUCTION PROPERTY OF DISPLAY */

/* div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
}

span{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    display: inline-block;

} */

.box{
    background-color: aqua;
    border: 2px double red;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    /* max-width: 25%; */
    min-width: 75%;
}