/* background image */

/* 
    h2{
    border: 3px solid;
    text-align: center;
}

body{
    background-image: url(/00_HTML&CSS/ImgVid/pexels-maxfrancis-2246476.jpg);
    background-image: url(ImgVid/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} */





/* combinators in css 

explains the relationship between listed selectors
(space) = descendant
> = child
~ = general sibling
+ = adjecent sibling */

/* #container{
    border: 3px solid;
}
#container>p{
    background-color: aquamarine;
} */

a:link{
    color: rgb(124, 214, 123);
    }
    a:hover{
        color: aquamarine;
        font-size: 1.1em;
    }
    a:active{
        color: red;
    }
    a:visited{
        color: grey;
    }

li:hover{
    background-color: rgb(209, 244, 140);
}

li:not(:hover){
    background-color: rgb(181, 170, 230);
}

li:nth-child(odd){
    color: rgb(54, 137, 110);
}

#greeting p{
    background-color: rgb(29, 7, 69);
    padding: 10px;
}